services:
  docs-indexer:
    image: gsoci.azurecr.io/giantswarm/docs-indexer:latest
    command: hugo
    restart: no
    depends_on:
      - sitesearch
    environment:
      OPENSEARCH_ENDPOINT: http://sitesearch:9200/
      BASE_URL: https://docs.giantswarm.io
      REPOSITORY_HANDLE: giantswarm/docs
      REPOSITORY_BRANCH: main
      REPOSITORY_SUBFOLDER: src/content
      INDEX_NAME: docs
      TYPE_LABEL: Documentation

  intranet-indexer:
    image: gsoci.azurecr.io/giantswarm/docs-indexer:latest
    command: hugo
    restart: no
    depends_on:
      - sitesearch
    env_file:
      - ./.env
    environment:
      OPENSEARCH_ENDPOINT: http://sitesearch:9200/
      BASE_URL: https://intranet.giantswarm.io/docs
      REPOSITORY_HANDLE: giantswarm/giantswarm
      REPOSITORY_BRANCH: main
      REPOSITORY_SUBFOLDER: content/docs
      INDEX_NAME: intranet
      TYPE_LABEL: Intranet

  blog-indexer:
    image: gsoci.azurecr.io/giantswarm/docs-indexer:latest
    command: blog
    restart: no
    depends_on:
      - sitesearch
    env_file:
      - ./.env
    environment:
      OPENSEARCH_ENDPOINT: http://sitesearch:9200/
      BASE_URL: https://www.giantswarm.io/blog


  sitesearch:
    restart: no
    platform: linux/amd64
    image: gsoci.azurecr.io/giantswarm/opensearch:3.5.0
    ports:
      - "9200:9200"
    environment:
      cluster.name: sitesearch
      node.name: sitesearch1
      discovery.type: single-node
      bootstrap.memory_lock: "false"
      OPENSEARCH_JAVA_OPTS: -Xms256m -Xmx256m
      DISABLE_SECURITY_PLUGIN: "true"
      MAX_LOCKED_MEMORY: unlimited
      LimitMEMLOCK: infinity
