beautifulsoup4==4.12.2
certifi==2023.7.22
chardet==5.2.0
click==8.1.7
elasticsearch==6.8.2
GitPython==3.1.40
idna==3.6
Markdown==3.5.1
openapi-spec-validator==0.7.1
prance==23.6.21.0
requests==2.31.0
semver==3.0.2
six==1.16.0
soupsieve==2.5
urllib3==2.1.0
