name: docs-indexer-app
namespace: docs
image:
  registry: gsoci.azurecr.io
  name: docs-indexer
  tag: ""
opensearchEndpoint: "http://sitesearch-app:9200/"

resources:
  requests:
    cpu: 100m
    memory: 80M
  limits:
    cpu: 200m
    memory: 200M

credentials:
  githubAccessToken: DUMMYTOKEN
  hubspotAccessToken: DUMMYTOKEN

global:
  podSecurityStandards:
    enforced: false
