version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0
  python: circleci/python@3.3.0

jobs:
  build-and-test:
    executor:
      name: python/default
      tag: "3.14"

    steps:
    - checkout
    - python/install-packages:
        pkg-manager: uv
    - run:
        name: Run Python unit tests
        command: |
          uv run python common_test.py
          uv run python hugo_test.py

workflows:
  publish:
    jobs:
    - build-and-test:
        filters:
          tags:
            only: /^v.*/
    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        registries-data: |-
          public gsoci.azurecr.io ACR_GSOCI_USERNAME ACR_GSOCI_PASSWORD true
        requires:
        - build-and-test
        filters:
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        name: push-to-app-catalog
        context: architect
        executor: app-build-suite
        app_catalog: giantswarm-operations-platform-catalog
        app_catalog_test: giantswarm-operations-platform-test-catalog
        chart: docs-indexer-app
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
        requires:
        - push-to-registries
